@font-face {
    font-family: "Cuprum";
    src: local("Cuprum"),
    url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Cuprum";
    src: local("Cuprum bold")
    url("../fonts/cuprumbold.woff2") format(woff2),
    url("../fonts/cuprumbold.woff") format(woff);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Cuprum";
    src: local("Cuprum bold italic"),
    url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Cuprum";
    src: local("Cuprum italic"),
    url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "PT Sans";
    src: local("PT Sans"),
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: local("PT Sans bold"),
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

:root {
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-grey: #3d546f;
  --basic-background: #f1f5f7;
  --very-light-gray: #eaeaea;
  --light-gray: #e5e5e5;
  --basic-greylight: #c5c5c5;
  --basic-white: #ffffff;
  --special-yellow: #ffbf47;
  --very-light-orange: #ffd180;
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  --special-greenlight: #8ed78f;
  --success: #5fbb2d;
  --dark-green: #518534;
  --rich-green: #367315;
  --error: #ba2732;
  --basic-black: #000000;
  --sapphire-blue: #212a3a;
  --beige: #f9f5f0;
  --purple-blue: #32425c;
  --very-dark-blue: #293449;
  --mostly-black-blue: #161d29;
  --semi-transparent-white:  rgba(255, 255, 255, 0.5);
  --light-grayish-blue: #f3f7f9;
  --light-blue: #F2F6F8;
  --dark-desaturated-blue: #1D2739;
  --strong-red: #ca2c37;
  --gray-old-price: #A9A9A9;
  --light-grayish-orange: #F7F3EC;
  --very-dark-desaturated-blue: #405069;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.navigation-list,
.navigation-list-footer,
.categories-list,
.goods-list,
.manufacturers-list,
.points-list,
.services-list,
.social-list-footer,
.pagination-list,
.breadcrumbs-list,
.filter-option {
  list-style: none;
}

.page {
  height: 100%;
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
  color: var(--basic-white);
  }

  img {
  max-width: 100%;
  height: auto;
  }

.logo {
  background-color: var(--basic-red);
  width: 220px;
  min-height: 42px;
  box-shadow: 0 5px 0 0 var(--strong-red);

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo:active {
  background-color: var(--error);
}

.container {
  width: 940px;
  margin: 0 auto;
}

.main-header {
  background-color: var(--basic-background);
  min-height: 320px;
  margin-bottom: 59px;
  display: grid;
}

.header-top-menu .container {
  display: grid;
  grid-template-columns: max-content 1fr repeat(3, max-content);
  align-items: center;
}

.header-top-menu {
  background-color: var(--very-dark-blue);
  min-height: 42px;
}

.search {
  background-color: inherit;
  border: none;
  appearance: none;
  width: 100%;
  height: 42px;
  padding-left: 42px;
}

.search:hover {
  background-color: var(--basic-white);
}

.header-order {
  background-color: var(--basic-green);
}


.header-order,
.header-bookmark,
.header-cart {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 42px;
}

.header-bookmark::before {
  content: url("../img/icon/icon-bookmark.svg");
  display: inline-block;
  height: 21px;
  margin-right: 9px;
}

.header-cart::before {
  content: url("../img/icon/icon-cart.svg");
  display: inline-block;
  line-height: 21px;
  margin-right: 8px;
}

/*Header Middle Block*/

.header-middle-block {
  display: grid;
  grid-template-columns: repeat(4, max-content);
}

.header-order:hover,
.header-order:focus {
  background-color: var(--success);
}

.header-order:active {
  background-color: var(--basic-green);
  color: var(--semi-transparent-white);
}

.header-bookmark:active {
  background-color: var(--mostly-black-blue);
  color: var(--semi-transparent-white);
}

.header-cart:active {
  color: var(--semi-transparent-white);
}

.header-offer {
  font-family: "Cuprum", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 30px;
  width: 315px;
  align-self: center;
}

.contacts-header {
  margin-top: 16px;
  margin-bottom: 16px;
  align-self: center;
}

.header-contacts-telephone {
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
  background: var(--light-grayish-blue);
  position: relative;
  display: block;
  padding: 7px 45px 8px 74px;
  margin-right: 45px;
}

.header-contacts-telephone::before {
  content: url("../img/icon/icon-phone.svg");
  position: absolute;
  width: 19px;
  height: 19px;
  top: 13px;
  left: 39px;
  right: 212px;
  bottom: 13px;
}

.header-address {
  color: var(--purple-blue);
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  padding-top: 3px;
  margin: 0;
}

.header-login {
  width: 121px;
  height: 45px;
  background-color: var(--basic-white);
}

.header-registration {
  width: 150px;
  height: 45px;
  background-color: var(--basic-white);
  margin-left: 10px;
}

.header-login,
.header-registration {
  color: var(--basic-black);
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  border: none;
  appearance: none;
  display: inline-block;
  margin-top: 46px;
  margin-bottom: 67px;
}

.header-login::before {
  content: url("../img/icon/icon-logout.svg");
  margin-right: 6px;
  display: inline-block;
  height: 17px;
}

.header-login:hover,
.header-registration:hover,
.header-login:focus,
.header-registration:focus {
  color: var(--basic-red);
}

.header-login:active,
.header-registration:active {
  color: var(--basic-greylight);
}

.site-navigation ul {
  background-color: var(--purple-blue);
  box-shadow: inset 0px -5px 0px var(--very-dark-blue);
  padding: 0;
  margin: 0;
}

.main-navigation-wrapper {
  margin-bottom: 60px;
}

.navigation-item a:hover {
  background-color: var(--very-dark-blue);
}

.navigation-list a:active {
  background-color: var(--dark-desaturated-blue);
  opacity: 0.5;
}

.navigation-list {
  display: grid;
  grid-template-columns: repeat(7, max-content);
  align-items: center;
  justify-content: space-between;
}

.navigation-item a {
  display: block;
  padding: 18px 24px;
  text-align: center;
}

/*Categories*/

.categories {
  margin-bottom: 59px;
}

.categories-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.category-item {
  min-width: 300px;
  min-height: 123px;
  position: relative;
  overflow: hidden;
}

.category-item:nth-child(1) {
  background-color: var(--special-yellow);
}

.category-item:nth-child(2) {
  background-color: var(--special-blue);
}

.category-item:nth-child(3) {
  background-color: var(--special-lilac);
}

.category-item:nth-child(4) {
  background-color: var(--special-greenlight);
}

.category-item:nth-child(5) {
  background-color: var(--special-yellow);
}

.category-slider-item {
  grid-column: 1/3;
  grid-row: 2/4;
  background-color: var(--basic-grey);
  width: 620px;
  height: 266px;
}

.category-title {
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
  margin-top: 20px;
  margin-bottom: 13px;
  margin-left: 23px;
  padding-right: 100px;
}

.categories-list .new::before {
  content: "new";
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  width: 100px;
  height: 30px;
  background-color: var(--basic-red);
  color: var(--basic-white);
  transform: translate(25px, 9px) rotate(45deg);
  position: absolute;
  z-index: 1;
  right: 0;
}

.button-categories {
  max-width: 135px;
  max-height: 38px;
  background-color: rgba(255, 255, 255, 0.3);
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  display: block;
  text-align: center;
  margin: 14px 142px 21px 23px;
  transition: all 0.3s;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button-categories:hover {
  background-color:rgba(192, 192, 192, 0.3);
}

.button-categories:active {
  background-color:rgba(165, 165, 165, 0.3);
}

.category-slider-item {
  position: relative;
  background-color: rgba(0, 0, 0, 0.25);
  max-width: 620px;
  max-height: 266px;
}

.slider-content,
.slider-title,
.slider-offer,
.button-slider,
.button-slider-control,
.button-slider-bullit {
  position: absolute;
}

.slider-offer {
  color: var(--basic-white);
  margin: 64px 338px 178px 24px;
}

.slider-title {
  font-family: "Cuprum", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--basic-white);
  margin: 23px 356px 207px 24px;
}

.button {
  border: none;
  color: var(--basic-white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  transition: all 0.3s;
}

.popular-button,
.button-slider,
.button-credit,
.button-popup,
.button-more {
  background-color: var(--basic-red);
}

.popular-button,
.button-slider {
  width: 192px;
  height: 38px;
}

.button-credit {
  min-width: 195px;
  min-height: 38px;
}

.button-more {
  color: var(--basic-white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 220px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-popup {
  width: 300px;
  height: 38px;
}

.popular-button:hover,
.button-slider:hover,
.button-credit:hover,
.button-popup:hover,
.button-more:hover {
  background-color: var(--strong-red);
}

.popular-button:active,
.button-slider:active,
.button-credit:active,
.button-popup:active,
.button-more:active {
  background-color: var(--error);
}

.button-slider {
  top: 201px;
  left: 24px;
}

.title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

/*Популярные товары*/

.popular-goods {
  display: grid;
  grid-template-rows: min-content 1fr;
  margin-bottom: 70px;
}

.popular {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 89px;
  background-color: var(--beige);
  margin-bottom: 20px;
}

.popular-title {
  margin-left: 28px;
}

.popular-button {
  margin-right: 14px;
}

.good-item {
  display: flex;
  flex-direction: column;
  max-width: 220px;
  min-height: 318px;
  border: 1px solid var(--very-light-gray);
  background: var(--basic-white);
  box-sizing: border-box;
  margin-right: 20px;
  margin-bottom: 20px;
}

.good-item:nth-child(4n) {
  margin-right: 0;
}

.card-description {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: block;
  margin: 0;
  margin-top: 8px;
  padding: 0 30px;
}

.old-price,
.button-price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.old-price {
  color: var(--gray-old-price);
  display: inline-block;
  padding-top: 7px;
  padding-bottom: 13px;
}

.button-price {
  color: var(--basic-white);
  background-image: url("../img/bcg-btn-price.svg");
  appearance: none;
  background-color: transparent;
  border: none;
  display: block;
  width: 141px;
  height: 38px;
  margin-right: auto;
  margin-bottom: 21px;
  margin-left: auto;
  padding: 10px 19px;
  margin-top: auto;
}

.buttons {
  background-color: var(--basic-white);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 218px;
  height: 80px;
  padding: 43px 0;
}

.card .buttons {
  display: none;
}

.card-content {
  background-color: var(--basic-white);
  width: 218px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.goods-cards .new::before {
  content: "new";
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  width: 100px;
  height: 30px;
  background-color: var(--basic-red);
  color: var(--basic-white);
  transform: translate(26px, 9px) rotate(45deg);
  position: absolute;
  z-index: 2;
  right: 0;
}

.card:hover .buttons,
.card:focus .buttons,
.card:focus-within .buttons {
  display: block;
}

.button-buy,
.button-mark {
  display: block;
  width: 135px;
  min-height: 38px;
  margin: 0 auto;
  padding: 7px 0;
}

.button-buy {
  background: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--rich-green);
  border-radius: 2px;
  min-height: 35px;
  margin-bottom: 11px;
  padding-top: 11px;
}

.button-mark {
  border: 3px solid var(--basic-green);
  background-color: var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
  color: var(--purple-blue);
}

.button-buy:hover {
  background-color: var(--success);
}

.button-mark:hover {
  border-color: var(--purple-blue);
}

.button-buy:active {
  background-color: var(--dark-green);
}

.button-mark:active {
  border-color: var(--purple-blue);
  opacity: 0.5;
}

.goods-cards {
   display: flex;
   flex-wrap: wrap;
   margin: 0;
   padding: 0;
}

.card {
  position: relative;
  overflow: hidden;
  width: 220px;
  text-align: center;
  border: 1px solid var(--very-light-gray);
  transition: all 0.3s;
}

/*Популярные производители*/

.popular-block,
.services,
.index-column {
  margin-bottom: 70px;
}

.manufacturers-list {
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(4, min-content);
  gap: 20px;
}

.manufacturer-item {
  background: var(--basic-white);
  border: 1px solid var(--very-light-gray);
  width: 220px;
  height: 145px;
  box-sizing: border-box;
  transition: all 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.manufacturer-item:hover,
.card:hover,
.card:focus,
.card:focus-within {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.2);
  border-color: transparent;
}

.manufacturer-item:active {
  opacity: 0.4;
}

/*Services*/

.services,
.definition {
  background-color: var(--basic-background);
}

.services ul {
  padding: 0;
  margin: 0;
}
.services-title {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-top: 64px;
  padding-bottom: 70px;
}

.services-title .title,
.services-title .description,
.points-list .title {
  padding: 0;
  margin: 0;
}

.points-list .description {
  margin-top: 30px;
  padding-right: 250px;
}

.services {
  display: grid;
  grid-template-rows: 1fr ;
  margin: 0;
  padding: 0;
}

.description {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-black);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.button-services {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--purple-blue);
  box-shadow: 0px 1px 0px var(--very-dark-blue), inset 0px 1px 0px var(--very-dark-desaturated-blue);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 22px;
  width: 240px;
  height: 61px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.button-services:hover,
.button-services:focus {
  background-color: var(--very-dark-blue);
}

.services-wrapper {
  display: flex;
}

.points-list {
  display: grid;
}

.point-item {
  grid-row: 1/-1;
  grid-column: 1/2;
  padding-left: 80px;
  width: 619px;
  min-height: 283px;
}

.point-item {
  display: none;
}

.point-item.show {
  display: block;
}

.point-item:nth-child(1) {
  background: url("../img/background-delivery.png") no-repeat right center;
}

.point-item:nth-child(2) {
  background: url("../img/background-guarantee.png") no-repeat right center;
}

.point-item:nth-child(3) {
  background: url("../img/background-credit.png") no-repeat right center;
}

.points-list:last-child .description {
  padding-bottom: 26.5px;
}

/*О компании*/

.index-column {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  min-height: 356px;
}

.about h3,
.contacts h3 {
  margin: 0;
}

.about .description,
.contacts .description {
  margin-top: 24px;
  margin-bottom: 1px;
}

.contacts .description {
  margin-bottom: 32px;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.map-popup img {
  margin-bottom: 25px;
}

.button-popup {
  margin-bottom: 0;
}

.partners-list {
  margin: 0;
  margin-bottom: 58px;
  list-style: none;
  padding: 0;
}

.partner-item::before {
  content: url("../img/icon/icon-dash.svg");
}

.partner-item:not(:last-child) {
  padding-bottom: 12px;
}

/*Main-footer*/

.main-footer {
  background-color: var(--purple-blue);
  min-height: 300px;
}

.main-footer .logo {
  height: 68px;
  width: 220px;
  box-shadow: inset 0px -5px 0px var(--strong-red);
}

.navigation-list-footer,
.social-list-footer,
.footer-address p,
.footer-copyright p {
  padding: 0;
  margin: 0;
}

.footer-address {
  grid-column: 1/2;
  margin-top: 22px;
  display: block;
}

.navigation-footer {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 37px;
  width: 550px;
  height: 76px;
}

.footer-contacts {
  margin-bottom: 54px;
}

.footer-contacts .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.navigation-list-footer:nth-child(1) {
  display: flex;
  justify-content: space-between;
}

.navigation-list-footer:nth-child(2) {
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
  margin-left: 22px;
}


.footer-social {
  background-color: var(--very-dark-blue);
  min-height: 107px;
  display: grid;
}

.footer-social .container {
  display: grid;
  grid-template-columns: 1fr 1fr max-content min-content;
  align-items: center;
  justify-content: space-between;
}

.site {
  margin-left: 51px;
}

.social-list-footer {
  display: flex;
  justify-content: center;
}

.footer-list-item:hover {
  text-decoration: underline;
}

.footer-list-item:active {
  text-decoration: none;
  opacity: 0.3;
}

.catalog a,
.mail a,
.site a  {
  color: var(--very-light-orange);
}

.footer-address,
.footer-contacts-telephone {
  color: var(--light-grayish-blue);
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.footer-copyright,
.mail,
.site {
  color: var(--basic-white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.mail a:hover,
.site a:hover {
  text-decoration: underline;
}

.mail a:active,
.site a:active {
  color: var(--basic-red);
  text-decoration: none;
}

/*Catalog*/

.my-orders,
.account {
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--purple-blue);
}

.my-orders:hover,
.account:hover {
  color: var(--basic-red);
}

.my-orders:active,
.account:active {
  color: var(--basic-greylight);
}

.filters label {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filters legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filter-button,
.row-title,
.title-filter,
.breadcrumbs-list a,
.pagination-list a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.page-title {
  background-color: var(--light-blue);
  min-height: 89px;
}

.title-filter,
.row {
  background-color: var(--light-grayish-orange);
  min-height: 38px;
}

.filter-button,
.pagination-item a {
  background: var(--basic-white);
  border: 1px solid var(--light-gray);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  transition: all 0.3s;
}

.filter-button {
  min-width: 220px;
  min-height: 38px;
}

.filter-button:hover,
.pagination-item:hover a,
.filter-button:focus,
.pagination-item:focus a  {
  border-color: var(--basic-greylight);
}

.pagination-item:active a {
  border-color: var(--basic-red);
}

.row span {
  color: var(--basic-black);
  border: none;
  border-bottom: 1px dotted var(--basic-red);
  height: 1px;
  width: 100%;
  opacity: 0.3;
}

.row span:hover {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
  width: 100%;
  opacity: 1;
}

.pagination-item a {
  width: 38px;
  height: 38px;
}

.pagination-item .button-pagination {
  width: 140px;
  height: 38px;
}

.header-middle-block__catalog {
  display: grid;
  grid-template-columns: repeat(2, max-content) 1fr;
}

.form-catalog {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 7px;
  align-self: center;
}

